.list-items-dashboard, .form-dashboard {
    border: 1px solid #e5e5e5;
    min-height: 240px;
}
.list-items-dashboard {
    margin-right: 10px;
}
.form-dashboard h5 {
    text-align: left;
}
.form-dashboard label {
    display: block;
    text-align: left;
    margin-top: 15px;
}
.form-dashboard input {
    width: 100%;
}
.form-dashboard .buttons {
    padding: 16px 0 15px 0;
    text-align: left;
}
.buttons button.save {
    color: limegreen;
}
.list-items-dashboard {
    width: 70%;
    margin-left: 0;
}
.list-items-dashboard h3 {
    margin: auto;
}
.form-dashboard {
    position: absolute;
    right: 5%;
}
.main-dashboard .nav {
    border: 1px solid #e5e5e5;
    margin: 10px 0;
}
.option {
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
    color: #bbb
}
.option.active {
    color: black;
}
.form-dashboard select {
    width: 100%;
}