.list-items-dashboard, .form-dashboard {
    min-height: 260px;
}
.list-items-dashboard {
    margin-right: 10px;
}
.form-dashboard h5 {
    text-align: left;
}
.form-dashboard label {
    display: block;
    text-align: left;
    margin-top: 15px;
}
.form-dashboard input {
    width: 100%;
}
.form-dashboard .buttons {
    padding: 16px 0 15px 0;
    text-align: left;
}
.buttons button.save {
    border: 1px solid black;
    color: white;
    background: black;
}
.buttons button.remove {
    border: 1px solid red;
    color: red;
}
.list-items-dashboard {
    max-height: 450px;
}
.list-items-dashboard h3 {
    position: absolute;
    margin: 80px;
}
.form-dashboard {
    padding: 20px;
    border: 1px solid #e5e5e5;
}
.main-dashboard .nav {
    border: 1px solid #e5e5e5;
    margin: 10px 0;
}
.main-dashboard {
    padding: 20px;
    margin: 0;
    max-height: 550px;
    overflow-y: hidden;
}
.option {
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
    color: #bbb
}
.option.active {
    color: black;
}
.form-dashboard select {
    width: 100%;
}
button.save {
    margin-top: 15px;
    margin-right: 10px;
}
.list-left {
    overflow-y: auto;
    border-right: 1px solid #e5e5e5;
}