<div class="main-dashboard container-fluid">
    <div class="row nav">
        <span class="col-1 option" (click)="filterItems(1)">
            Todos
        </span>
        <span class="col-1 option" (click)="filterItems(2)">
            Autos
        </span>
        <span class="col-1 option" (click)="filterItems(3)">
            Salud
        </span>
        <span class="col-1 option" (click)="filterItems(4)">
            Hogar
        </span>
    </div>
    <div class="row">
        <div class="row list-items-dashboard">
            <div class="items" *ngFor="let item of items">
                <card [name]="item.name" [desc]="item.desc" (valueChange)="removeItem($event)" (valueChangeEdit)="editItem($event)" [editItem]="editItem()" class=" main-card"></card>
            </div>
            <h3 *ngIf="!items.length">No existen registros</h3>
        </div>
        <div class="col-md-3 form-dashboard">
            <h5>Servicio</h5>
            <label>Categoría</label>
            <select *ngIf="categories.length" name="category" (change)="handleChange($event.target)">
                <option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                </option>
            </select>
            <label>Nombre</label>
            <input name="name" [(ngModel)]="name"/>
            <label>Descripción</label>
            <input name="desc" [(ngModel)]="desc"/>
            <div class="buttons">
                <button class="save" (click)="saveItem()">Grabar</button>
                <button class="remove" (click)="removeInfo()">Cancelar</button>
            </div>
            <div *ngIf="showEdit === true">
                <h5>Editar elemento</h5>
                <label>Nombre</label>
                <input name="name" [(ngModel)]="newName"/>
                <label>Descripción</label>
                <input name="desc" [(ngModel)]="newDesc"/>
                <div class="buttons">
                    <button class="save" (click)="saveNewItem()">Grabar</button>
                    <button class="remove" (click)="cancelNewItem()">Cancelar</button>
            </div>
            </div>
        </div>
        
    </div>
</div>