/* You can add global styles to this file, and also import other style files */
.mat-tab-body.mat-tab-body-active {
    border: 1px solid #b8b8b8;
    padding: 60px;
}
.mat-tab-label {
    min-width: 25% !important;
}
.main-app {
    padding: 30px;
}
.mat-tab-label .mat-tab-label-content {
    position: fixed;
}
.mat-tab-label-container {
    background-color: #43e44532;
}
#body-item6666 .mat-expansion-panel-body {
    max-height: 220px;
    overflow-y: auto;
    width: 140px;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    background-color: #fe64;
}